// quicksand
@font-face {
  font-weight: 400;
  font-family: Quicksand;
  font-style: normal;
  src: url('fonts/quicksand/Quicksand-Regular.woff') format('woff'),
    url('fonts/quicksand/Quicksand-Regular.woff2') format('woff2');
}

@font-face {
  font-weight: 600;
  font-family: Quicksand;
  font-style: normal;
  src: url('fonts/quicksand/Quicksand-SemiBold.woff') format('woff'),
    url('fonts/quicksand/Quicksand-SemiBold.woff2') format('woff2');
}

@font-face {
  font-weight: 700;
  font-family: Quicksand;
  font-style: normal;
  src: url('fonts/quicksand/Quicksand-Bold.woff') format('woff'),
    url('fonts/quicksand/Quicksand-Bold.woff2') format('woff2');
}

// nunito
@font-face {
  font-weight: 700;
  font-family: Nunito;
  font-style: normal;
  src: url('fonts/nunito/Nunito-Bold.woff') format('woff'),
    url('fonts/nunito/Nunito-Bold.woff2') format('woff2');
}

