@import '@shared/styles/index';

.nav-menu {
  background-color: $c-white;
  position: fixed;
  top: -100%;
  left: 0;
  height: 100%;
  width: 100%;
  padding: rem(33) 0 0 rem(25);
  transition: all 0.3s ease 0s;
  visibility: hidden;
  overflow: scroll;
  &.active {
    top: 0;
    visibility: visible;
  }
  &__list {
    margin-top: rem(60);
  }
  &__item {
    margin-bottom: rem(25);
    a {
      font-family: $f-quicksand;
      font-size: rem(18);
      font-weight: 400;
      letter-spacing: 0.01rem;
      text-transform: capitalize;
      color: $c-black;
      &:hover {
        font-weight: 700;
      }
    }
  }
  &__lang-btn {
    padding-top: rem(25);
  }
  &__message-btn {
    width: rem(340);
    height: rem(44);
    margin-top: rem(115);
  }
  &__social-btn {
    margin-top: rem(189);
    display: flex;
    justify-content: center;

  }
}

@media screen and (min-width: 1440px) {
  .nav-menu {
    position: static;
    display: flex;
    flex-direction: row;
    width: auto;
    height: rem(50);
    padding: 0;
    &__list {
      margin-top: 0;
      margin-right: rem(317);
      width: rem(385);
      height: auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: row;
    }
    &__item {
      margin-bottom: 0;
      a {
        font-family: $f-quicksand;
        font-size: rem(18);
      }
    }
    &__lang-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 0;
      margin-right: rem(80);
      
    }
    &__message-btn {
      display: flex;
      align-items: center;
      width: rem(185);
      height: rem(48);
      margin-top: 0;
    }
    &__social-btn {
      display: none;
    }
  }
}