@import '@shared/styles/index';

.testimonial {
  padding-top: rem(104);
  min-height: rem(500);
  &__subtitle {
    display: flex;
    justify-content: center;
  }
  &__title {
    margin-top: rem(10);
    text-align: center;
  }
  &__wrapper {
    margin: 0 auto;
    margin-top: rem(35);
  }
}

@media (min-width: 1440px) {
  .testimonial {
    padding: rem(150) 0 0 0;
    &__title {
      margin-top: rem(20);
    }
    &__wrapper {
      margin-top: rem(50);
    }
  }
}

