:root {
  --color-title: '#1D1D1D';
  --color-subtitle: '#377DFF';
  --color-text: '#464646';
  --main-bg: '#FFF';
}


.title {
  color: var(--color-title);
  font-family: $f-nunito;
  font-size: rem(24);
  font-weight: 700;
  line-height: 130%;
  letter-spacing: 0.03rem;
}

.subtitle {
  color: var(--color-subtitle);
  font-family: $f-quicksand;
  font-size: rem(14);
  font-weight: 600;
  letter-spacing: 0.01rem;
}

.text {
  color: var(--color-text);
  font-family: $f-quicksand;
  opacity: 0.6;
  font-size: rem(14);
  font-weight: 400;
  line-height: rem(24);
  letter-spacing: 0.01rem;
}

@media (min-width: 1440px) {
  .title {
    font-size: rem(55);
  }

  .subtitle {
    font-size: rem(24);
  }

  .text {
    font-size: rem(20);
  }
}