@import '@shared/styles/index';

.social {
  width: rem(280);
  height: rem(36);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  &__link {
    display: flex;
    justify-content: center;
    width: rem(36);
    height: rem(36);
    border-radius: 100%;
    box-sizing: border-box;
    cursor: pointer;
  }
  &__wrap {
    width: rem(36);
    height: rem(36);
    border-radius: 100%;
    background-color: $c-white;
  }
  &__logo {
    max-width: rem(20);
    height: 100%;
    fill: black;
    stroke: $c-black;
    &:hover{
      fill: $c-blue-light;
      stroke: $c-blue-light;
    }
  }
}

@media (min-width: 1440px) {
  .social {
    width: rem(360);
    height: rem(40);

    &__wrap {
      width: rem(40);
      height: rem(40);
    }
  }
}