@import '@shared/styles/index';

.lang {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: rem(65);
  height: rem(24);
  &__label {
    color: $c-black;
    font-family: $f-quicksand;
    font-size: rem(18);
    font-weight: 400;
    letter-spacing: 0.01rem;
    text-transform: uppercase;
  }
  &__input {
    display: none;
  }
}

input[type="radio"]:checked + label {
  font-weight: 700;
}

@media (min-width: 1440px) {
  .lang {
    width: rem(57);
    height: rem(24);
  }
}